<div class="container">
<table class="table mt-5">
    <thead class="bg-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="cartItems">
      <tr *ngFor="let cartItem of cartItems; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{cartItem.name}}</td>
        <td>{{cartItem.description}}</td>
        <td>{{cartItem.price}}</td>
        <td><input type="text" name="quantity" [(ngModel)]="cartItem.quantity"></td>
        <td><button class="btn btn-primary" (click)="update(cartItem)">Update</button></td>
        <td><button class="btn btn-danger" (click)="delete(cartItem)">Delete</button></td>
      </tr>      
    </tbody>
  </table>
  <div class="row" *ngIf="cartItems.length > 0">
    <div class="offset-md-8 col-md-4" *ngIf="cartItems.length > 0">
      <button class="btn btn-primary mr-2" (click)="emptyCart()">Empty Cart</button>
      <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>