<div class="container">
    <div class="alert alert-danger col-sm-12 col-lg-4" *ngIf="error" role="alert">
        <div class="">
            {{errorMsg}}
        </div>
        </div>
    <div class="row mt-5">
        <div class="col-sm-5" *ngFor="let product of products">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"><span>Price: </span>{{product.price}}$</p>
              <p><span>Qty :&nbsp;</span><input type="number" required class="col-sm-3" name="txtQuantity" #txtQuantity></p>
              <button class="btn btn-primary mr-2" (click)="order(product,txtQuantity.value)">Order</button>
              <button class="btn btn-primary" (click)="addToCart(product,txtQuantity.value)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
</div>
